.mount-dataview {
    padding: 10px;
}

.mount-image {
    border-radius: 20px;
}

.mount-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #304562;
}

.mount-desc {
    font-size: 0.8rem;
    max-width: 400px;
}

:host ::ng-deep .p-dataview-header {
    margin-bottom: 10px;
}