<h1 style="text-align: center;">Best dungeon runs for current season:</h1>
<p-divider></p-divider>
<div class="container">
    <p-card *ngFor="let dungeon of dungeons" class="container-item shadow-8">
        <ng-template pTemplate="header">
            <img src="{{dungeonMap.get(dungeon.name)}}" class="dungeon-banner">
        </ng-template>
        <ng-template pTemplate="title">
            <em><strong class="dungeon-name">{{dungeon.name}}</strong></em>
            <p-divider></p-divider>
        </ng-template>
        <ng-template pTemplate="subtitle">
            <p>{{'Keystone level: +' + dungeon.keystoneLevel}}</p>
            <em>
                <p>{{dungeon.affixes}}</p>
            </em>
        </ng-template>
        <ng-template pTemplate="content">
            <p>{{'Team: ' + dungeon.members}}</p>
        </ng-template>
        <ng-template pTemplate="footer">
            <p></p>
            <p>{{'Completed on:'}}</p>
            <p>{{(dungeon.completedTimestamp | date: 'medium')}}</p>
        </ng-template>
    </p-card>
</div>
