.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, auto);
    grid-row-gap: 2em;
    grid-column-gap: 1em;
    padding: 30px;
}

.container-item {
    max-width: 300px;
}